input{
    display: block;
    height: 30px;
    width: 50%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 1px 10px;
    font-size: 14px;
    font-weight: 300;
    align-content: center;
}